.theme-dark{
    --page-background-color: #17181E;
    --card-background-color: #1F2027;
    --button-background-color: #59B6F9;
    --button-text-color: #59B6F9;
    --header-background-color: #1F2027;

    --text-default-color: #fff;
    --text-muted-color: rgba(255, 255, 255, 0.5);
    --text-accent-light-color: rgba(255, 255, 255, 0.3);
    --text-accent-color: #47cdff;
    --text-muted-light-color: #e1e6e8;
    --text-error-color: red;
}
