.theme-light{
    --page-background-color: #F5F6F9;
    --card-background-color: white;
    --button-background-color: #47cdff;
    --header-background-color: white;

    --text-default-color: #222;
    --text-muted-color: rbga(0, 0, 0, 0.3);
    --text-accent-light-color: #8ae2fe;
    --text-accent-color: #47cdff;
    --text-muted-light-color: #e1e6e8;
    --text-error-color: red;
}
